# =========================
# Python
# =========================
mlservice/venv/
mlservice/__pycache__/
*.pyc

# =========================
# Node.js / React
# =========================
frontend/node_modules/
frontend/dist/

# =========================
# Logs
# =========================
*.log

# =========================
# Environment files
# =========================
.env
.env.*

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Java / Spring Boot
# =========================
backend/target/
backend/.mvn/
*.class

# =========================
# IntelliJ
# =========================
.idea/
*.iml