# =========================
# Python
# =========================

# Virtual Environments
mlservice/venv/
mlservice2/venv/

# Python Cache
**/__pycache__/
*.py[cod]
*$py.class

# Python Tool Caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# =========================
# Node.js / React
# =========================
frontend/node_modules/
frontend/dist/
frontend/build/

# =========================
# Logs
# =========================
*.log

# =========================
# Environment files
# =========================
.env
.env.*

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Java / Spring Boot
# =========================
backend/target/
backend/.mvn/
*.class

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# Temporary Files
# =========================
*.tmp
*.bak
*.swp